/*==== RESET =======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*==== VARIABLES =======================*/
:root {
    --header-height: 4.5rem;

    /* colors */
    --hue: 36;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 100% 57%);
    --base-color-second: hsl(var(--hue) 94% 79%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 55% 12%);
    --text-color: hsl(35 55% 12%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);


}

/*==== BASE =======================*/
body {
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 1.875rem "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem 'DM Sans', sans-serif;
    transition: background 0.3s;
}

.button:hover {
    background: var(--base-color-second)
}

.divider-1 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsl(var(--hue) 94% 79%) 0%,
        hsl(var(--hue) 100% 57%) 100%
    ); 
}

/*==== LAYOUT =======================*/
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 0.625rem;
}

.section {
    padding: 5rem 0;
}

#header {
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 2rem;
    display: flex;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 100;
    background-color: var(--body-color);

}

main {
    margin-top: calc(var(--header-height) + 2rem);
}

/*==== LOGO =======================*/
.logo {
    font: 700 1.31rem "Poppins", sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}

/*==== NAVIGATION =======================*/
nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color 0.2s;
    position: relative;
}

nav ul li a:hover {
    color: var(--base-color);
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -1.5rem;

    transition: width .2s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
}

/* Menu visible */
nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: var(--body-color);

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

nav.show ul.grid {
    gap: 4rem;
}

/*==== HOME =======================*/

#home {
    overflow: hidden;
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
}

#home .image::before {
    content: ''; 
    width: 100%;
    height: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;   
    z-index: 0;
}

#home .image img {
    position: relative;
    right: 2.93rem;
}

#home .image img, 
#home .image::before {
    border-radius: 0.25rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}   

#home .text h1 {
    margin-bottom: 0.5rem;
}

#home .text p {
    margin-bottom: 1.125rem;
    max-width: 100%;
}

