@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?36ksd5');
  src:  url('fonts/icomoon.eot?36ksd5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?36ksd5') format('truetype'),
    url('fonts/icomoon.woff?36ksd5') format('woff'),
    url('fonts/icomoon.svg?36ksd5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-3:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
